<div class="card project-card">
    <div id="carousel-{{id}}" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            {{#each posterUrls}}
                <button type="button" 
                    data-bs-target="#carousel-{{../id}}" 
                    data-bs-slide-to="{{@index}}" 
                    class="{{#if @first}}active{{/if}}"
                    {{#if @first}}aria-current="true"{{/if}}
                    aria-label="Slide {{@index}}">
                </button>
            {{/each}}
        </div>

        <!-- Carousel Items -->
        <div class="carousel-inner">
            {{#each posterUrls}}
                <div class="carousel-item {{#if @first}}active{{/if}}">
                    <img src="{{url}}" class="d-block w-100 carousel-image" alt="{{title}}">
                </div>
            {{/each}}
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{id}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{id}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="card-body"> {{!-- Added card-body to wrap content --}}
        <div class="row">
            <div class="col-md-6">
                <!-- Project Details -->
                <div class="project-details">
                
                           
                  {{{renderProjectDetail "Director" director}}}
                    {{{renderProjectDetail "Creators" creators}}}
                       {{{renderProjectDetail "Writers" writers}}}
                    {{{renderProjectDetail "Actors" actors}}}
                    {{{renderProjectDetail "Production" production_company}}}
                    {{{renderProjectDetail "Broadcaster" broadcaster}}}
                     {{{renderProjectDetail "Storyline" storyline}}}
                </div>
            </div>
            <div class="col-md-6">
                {{#if prizes.length}} {{! Check if the prizes array exists and is not empty }}
                    <h5 class="display-5">Awards</h5>
                    <ul>
                        {{#each prizes}} {{! Iterate over the prizes array }}
                            <li>{{this}}</li> {{! Display each prize }}
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>
        <div class="mt-3">
            <a href="{{imdb_url}}" class="btn btn-custom">IMDB</a>
            <a href="{{trailerUrl}}" class="btn btn-custom">Trailer</a>
        </div>
    </div> {{!-- This now correctly closes card-body --}}
</div>