{{!-- views/projects.handlebars --}}
{{> header}}
<div class="container mt-5">
  <h1 class="display-4 mb-4">Projects</h1>
  <a href="/projects/create" class="btn btn-outline-success mb-3">Create New Project</a>
  {{#if projects.length}}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Created</th>
          <th>Audition Form Link</th>
        </tr>
      </thead>
      <tbody>
        {{#each projects}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/audition/{{this.id}}" target="_blank">/audition/{{this.id}}</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No projects found.</p>
  {{/if}}
</div>
{{> footer}}
